{
  "Version": "2008-10-17",
  "Statement": [
      {
          "Sid": "%s ENV_POLICY_SID",
          "Effect": "%s ENV_POLICY_EFFECT",
          "Principal": "%s ENV_POLICY_PRINCIPAL",
          "Action": ["%s ENV_POLICY_ACTIONS"]
      }
  ]
}
